html {
  background: linear-gradient(rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%)
}

body {
  min-height: 100vh;
}

#superhero-img {
  object-fit: cover;
  width: 230px;
  height: 230px;
}