html {
  background: linear-gradient(rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%)
}

body {
  min-height: 100vh;
  font-family: "Livvic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Nav.jsx */
#nav-bar-outer-div {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-right: 20%;
  padding-left: 20%;
}

/* Home.jsx & Customizer.jsx & Search.jsx */
.page-outer-div {
  display: flex, table-column;
  text-align: center;
  justify-content: center;
}

/* Search.jsx */
#search-outer-div {
  display: flex, table-column;
  text-align: center;
  justify-content: center;
}

#search-field {
  height: 45px;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 5px;
}

#search-inner-div {
  display: flex;
  justify-content: row;
  padding-right: 20%;
  padding-left: 20%;
}

#search-inner-right-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 912.2px;
}

#search-inner-top-div {
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

#search-inner-bottom-div {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

#superhero-img {
  object-fit: cover;
  width: 230px;
  height: 230px;
}

#plus-button {
  width: 56px;
  font-size: 25px;
}

#minus-button {
  width: 56px;
  font-size: 25px;
}

/* Customizer.jsx */
#list-div {
  display: flex;
  justify-content: center;
  text-align: left;
}

.listed-character {
  font-size: 36px;
}

/* buttons */
/* green/blue buttons */
.bn632-hover {
  width: 160px;
  font-family: "Livvic", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn18 {
  background-image: linear-gradient(to right,
      #25aae1,
      #40e495,
      #30dd8a,
      #2bb673);
  box-shadow: 0 4px 15px 0 rgba(255, 255, 255, 0.75);
}

/* pink/purple buttons */
.bn633-hover {
  width: 160px;
  font-family: "Livvic", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn633-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn633-hover:focus {
  outline: none;
}

.bn633-hover.bn18 {
  background-image: linear-gradient(to right,
      #e125db,
      #e4409d,
      #dd30a3,
      #b62b98);
  box-shadow: 0 4px 15px 0 rgba(255, 255, 255, 0.75);
}